<main role="main">
    <div class="jumbotron fondo">
        <div class="container ">
            <div class="row d-flex justify-content-center text-alpha" style="font-family: Open Sans sans-serif;">
                <h1>Welcome to vyvojar-uloha-2 task</h1>
            </div>

            <div class="d-flex justify-content-center" style="font-family: Open Sans sans-serif;">
                <img class="im" src="../../assets/rindus-technology.jpg">
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="card card-signin no-border">
                <div class="card-body ">
                    <div class="row d-flex justify-content-center text-alpha"
                        style="font-family: Open Sans sans-serif;">
                        <h2>Description</h2>
                    </div>
                    <div>
                        <p>Create a web application with the list of the employees by using angular 2.
                            <br>
                            If you are more friendly with some other framework, please use it.
                        </p>
                        <br>
                        <p> <b>UseCases:</b></p>


                        <ul>

                            <li>
                                we need a list of all employees (nice to have: with search)

                            </li>
                            <li>
                                we can hire a new employee and we need to register these properties:
                                <ul>
                                    <li>
                                        name
                                    </li>
                                    <li>surname</li>
                                    <li>
                                        work position (we can choose from an enum, which is available on API method GET,
                                        on URL:
                                        https://ibillboard.com/api/positions)
                                    </li>
                                    <li>
                                        date of birth
                                    </li>
                                </ul>
                            <li>
                                we can change name of employee
                            </li>
                            <li>
                                employee can change work position
                            </li>
                            <li>
                                employee can leave the company
                            </li>
                        </ul>



                    </div>


                </div>
            </div>
        </div>
    </div>

</main>