<main role="main">
    <div class="jumbotron fondo">
        <div class="container ">
            <div class="row d-flex justify-content-center text-alpha" style="font-family: Open Sans sans-serif;">
                <h1>{{ 'Welcome to vyvojar-uloha-2 task' | translate}}</h1>
            </div>

            <div class="d-flex justify-content-center" style="font-family: Open Sans sans-serif;">
                <img class="im" src="../../assets/rindus-technology.jpg">
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="card card-signin no-border">
                <div class="card-body ">
                    <div class="row d-flex justify-content-center text-alpha"
                        style="font-family: Open Sans sans-serif;">
                        <h2>{{ 'Description' | translate}}</h2>
                    </div>
                    <div>
                        <p>{{ 'Create a web application with the list of the employees by using angular 2.' | translate}}
                            <br>
                            {{ 'If you are more friendly with some other framework, please use it.' | translate}}
                        </p>
                        <br>
                        <p> <b> {{ 'UseCases:' | translate}}</b></p>


                        <ul>

                            <li>
                                {{ 'we need a list of all employees (nice to have: with search)' | translate}}

                            </li>
                            <li>
                                {{ 'we can hire a new employee and we need to register these properties:' | translate}}
                                <ul>
                                    <li>
                                        {{ 'name' | translate}}
                                    </li>
                                    <li> {{ 'surname' | translate}}</li>
                                    <li>
                                        {{ 'work' | translate}}  {{ '(we can choose from an enum, which is available on API method GET,
                                        on URL:
                                        https://ibillboard.com/api/positions)' | translate}}
                                    </li>
                                    <li>
                                        {{ 'date of birth'| translate}}
                                    </li>
                                </ul>
                            <li>
                                {{ 'we can change name of employee'| translate}}
                            </li>
                            <li>
                                {{ 'employee can change work position'| translate}}
                            </li>
                            <li>
                                {{ 'employee can leave the company'| translate}}
                            </li>
                        </ul>



                    </div>


                </div>
            </div>
        </div>
    </div>

</main>